.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    border:1px solid grey;
    width: fit-content;
    height: 20rem;
    .boxContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        .inputBox{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}