.containerNav {
    padding: 0 5rem;

    .boxNav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
        border-bottom: 3px solid white;

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            color: white;
        }

        span {
            cursor: pointer;
        }

        span:hover {
            color: white;
        }
    }
}