.formMensagges{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
    width: 20rem;
    .boxForm{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}