.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .boxList {
        padding:1rem 0;
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: space-between;
        overflow-y: auto;
    }

    .itemList {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); // Ajusta las columnas automáticamente
        gap: 16px; 
        padding-bottom: 0.3rem;
        border-bottom: 2px solid white;
      
        .contentBox {
          display: flex;
          flex-direction: column;
          width: 100%;
          overflow: hidden;
        }
      }
}